# builds
dist
merge

# documentation
docs

# file backups, legacy, logs, etc.
*.backup
*.old
*.log

# misc markdown
todo.md

# node
node_modules

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.*