# builds
dist
merge

# file backups, legacy, etc.
*.backup
*.old

# misc markdown
todo.md

# node
node_modules

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.*