{
	"tabWidth": 4,
	"useTabs": true,
	"arrowParens": "avoid",
	"quoteProps": "consistent",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"semi": true,
	"trailingComma": "none",
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}