// global properties
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    transition: color 0.1s, background-color 0.1s, box-shadow 0.1s, border 0.1s;

    // tooltips
    &[tooltip] {
        &:after {
            content: attr(tooltip);
            position: absolute;
            padding: 5px 10px;
            transform: translateX(calc(17.5px - var(--width))) translateY(-5px);
            color: var(--text);
            background-color: var(--foreground-colour);
            border-radius: 5px;
            pointer-events: none;
            opacity: 0;
            box-shadow: 0 0 5px var(--shadow);
            transition: 0.1s;
        }

        &:hover:after {
            opacity: 1;
        }
    }
}

:root {
    --canvas-width: 100%;
    --canvas-height: 750px;
}

body {
    overflow: hidden;
    background: var(--background-colour);

    --background-colour: #ddd;
    --foreground-colour: #eee;
    --accent: #fff;
    --canvas: #fff;
    --shadow: #ccc;
    --text: #000;
    --link: darkblue;

    --copy: darkgreen;
    --copy-hover: green;
    --copy-active: lightgreen;

    --open-with: darkcyan;
    --open-with-hover: lightseagreen;
    --open-with-active: lightblue;

    &[darkmode = true] {
        --background-colour: #111;
        --foreground-colour: #222;
        --accent: #333;
        --canvas: #666;
        --shadow: #000;
        --text: #fff;
        --link: lightblue;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text);
    font-family: "Montserrat", "Arial", sans-serif;
}

p, input, button {
    color: var(--text);
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
}

a, a:visited {
    color: var(--link);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: var(--foreground-colour);
    padding-block: 50px;
    padding-inline: max(10%, 25px);
    margin-block-end: 20px;
    box-shadow: 0px 0px 10px var(--shadow);

    #banner {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
}

main {
    margin-inline: 25px;
}

#pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#canvas {
    width: var(--canvas-width);
    height: var(--canvas-height);
    background-color: var(--canvas);
    border-radius: 5px;

    &[fullscreen = true] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;

        ~ #canvas-overlay {
            width: 100vw;
            height: 100vh;

            > #messages {
                height: calc(100vh - 20px);
            }
        }
    }
}

#canvas-overlay {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    height: var(--canvas-height);
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    overflow: hidden;
    pointer-events: none;

    * {
        pointer-events: initial;
    }

    > * {
        display: block;
    }

    input {
        height: 30px;
        border: none;
        border-radius: 15px;
        color: var(--text);
        background-color: var(--foreground-colour);
        padding-inline: 15px;
    }
}

#canvas-overlay > button, #search-sequence > button, .button {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border: none;
    border-radius: 50%;
    color: var(--text);
    background-color: var(--foreground-colour);
}

#canvas-overlay > button i, #search-sequence > button i, .button i {
    pointer-events: none;
}

#canvas-overlay > button:hover, #search-sequence > button:hover, .button:hover {
    background: var(--accent);
    cursor: pointer;
}

#canvas-overlay > button:active, #search-sequence > button:active, .button:active {
    background: var(--canvas);
    cursor: pointer;
}

#search-sequence {
    display: flex;
    gap: 5px;
    pointer-events: none;
}

#way-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: calc(100% - 40px);
    overflow-y: auto;
    background-color: var(--foreground-colour);
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 0px 10px var(--shadow);

    &[hidden] {
        display: none;
    }
}

#tags {
    color: white;
    border: none;
    border-spacing: 0;
    border-collapse: collapse;

    tr {
        * {
            padding: 0.5em 1em;
        }

        th {
            background: var(--background-colour);
        }

        &:nth-child(2n - 1) td {
            background: var(--foreground-colour);
        }

        &:nth-child(2n) td {
            background: var(--accent);
        }
    }
}

#copyright {
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--text);
    background-color: var(--foreground-colour);
    margin: 0;
    padding: 5px;
    text-align: right;
    border-radius: 5px;
}

#copy-container {
    height: 40px;
    background-color: var(--accent);
    border-radius: 5px;

    span {
        padding: 10px;
    }
}

.copy {
    height: 100%;
    aspect-ratio: 1;

    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--copy);

    &:hover {
        background: var(--copy-hover);
        cursor: pointer;
    }

    &:active {
        background: var(--copy-active);
        cursor: pointer;
    }
}

.open-with-container {
    display: flex;
    gap: 5px;
}

.open-with {
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--open-with);

    &:hover {
        background: var(--open-with-hover);
        cursor: pointer;
    }

    &:active {
        background: var(--open-with-active);
        cursor: pointer;
    }
}

#edit-in {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#popup {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    max-width: 50vw;
    border: none;
    color: var(--text);
    background-color: var(--foreground-colour);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--shadow);
    z-index: 100;

    &::backdrop {
        display: none;
    }

    &[open] {
        animation: fade-in 0.25s;

        ~ #popup-backdrop {
            display: block;
            animation: fade-in-backdrop 0.25s;
            opacity: 0.5;
        }
    }

    &:not([open]) {
        display: none;

        ~ #popup-backdrop {
            opacity: 0;
        }
    }

    &[closing] {
        animation: fade-out 0.25s;

        & ~ #popup-backdrop {
            animation: fade-out-backdrop 0.25s;
        }
    }

    > :last-child {
        margin-block-end: 0;
    }

    #popup-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    h2 {
        text-transform: capitalize;
    }
}

#popup-backdrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--foreground-colour);
}

// settings window
#settings-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.setting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: var(--accent);
    padding: 1em;
    border-radius: 5px;

    h3 {
        font-size: 1em;
    }
}

input {
    &[type = checkbox] {
        flex-shrink: 0;
        position:relative;
        appearance: none;
        width: 1.5em;
        height: 1.5em;
        background-color: var(--background-colour);
        border-radius: 5px;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: var(--foreground-colour);
        }

        &:active, &:checked {
            background: var(--link);
        }

        &:after {
            opacity: 0;
        }

        &:checked:after {
            content: '';
            display: block;
            opacity: 1;
            position: relative;
            border: 2px var(--background-colour);
            border-style: none solid solid none;
            width: 25%;
            height: 50%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(calc(-50% - 1px)) rotate(45deg);
        }
    }

    &[type = text] {
        flex-shrink: 0;
        height: 2.5em;
        background-color: var(--background-colour);
        border-radius: 5px;
        border: none;
        padding-inline: 10px;
    }
}

// messages
#messages {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    width: 25vw;
    height: calc(var(--canvas-height) - 20px);
    overflow: hidden;
    pointer-events: none;

    &:empty {
        display: none;
    }
}

.message-box {
    display: none;
    background-color: var(--foreground-colour);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin-block-end: 10px;

    &[visible] {
        display: initial;
        animation: fade-in 0.25s;
    }

    &[closing] {
        animation: fade-out-and-shrink 0.25s;
        overflow: hidden;
    }
}

// initial message
#empty-message {
    color: var(--text);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// about popup
#githubDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--background-colour);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;

    &:hover {
        background-color: var(--accent);
        cursor: pointer;
    }

    &:active {
        background-color: var(--canvas);
    }
}

// welcome popup
#welcome-img {
    width: 100px;
    height: 100px;
    margin-inline: auto;
}

#welcome-heading {
    text-align: center;
}

// 404 page
#not-found {
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}

// @s
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-in-backdrop {
    0% {opacity: 0;}
    100% {opacity: 0.5;}
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fade-out-backdrop {
    0% {opacity: 0.5;}
    100% {opacity: 0;}
}

@keyframes fade-out-and-shrink {
    0% {opacity: 1;}
    100% {opacity: 0; height: 0; padding-block: 0; margin-block-end: 0;}
}

@media screen and (max-width: 540px) {
    header {
        flex-direction: column;
    }
}