@use "mixins";
@use "inputs";
@use "animations";
@use "popup";

// # imports
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Quicksand:wght@300..700&family=Tektur:wght@400..900&display=swap");

// # css reset
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
}

// # custom properties
:root {
	// styles
	--box-shadow: 0 0 10px var(--shadow);
	--radius: 5px;

	// colours
	--error: light-dark(rgb(161, 41, 65), rgb(238, 138, 158));

	--copy: light-dark(rgb(76, 202, 124), rgb(22, 119, 59));
	--open-with: light-dark(rgb(76, 202, 196), rgb(15, 121, 115));

	--background-colour: light-dark(#eee, #111);
	--foreground-colour: light-dark(#ddd, #222);
	--accent: light-dark(#fff, #333);
	--canvas: light-dark(#fff, #666);
	--shadow: light-dark(#aaa, #000);
	--text: light-dark(#000, #fff);
	--link: light-dark(rgb(31, 100, 122), rgb(163, 212, 228));

	// light/dark mode
	&[data-dark-mode="false"] {
		color-scheme: light;
	}

	&[data-dark-mode="true"] {
		color-scheme: dark;
	}
}

// ## set colour scheme based on @media if no dark mode attribute is present
@media (prefers-color-scheme: light) {
	:root:not([data-dark-mode]) {
		color-scheme: light;
	}
}

@media (prefers-color-scheme: dark) {
	:root:not([data-dark-mode]) {
		color-scheme: dark;
	}
}

// # fonts
h1,
h2,
h3,
p,
i,
button,
input,
span,
table,
code {
	color: var(--text);
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
	margin-block: 0.25em 0;

	font-family: "TekTur", sans-serif;
	font-weight: 600;
}

h1,
.h1 {
	font-size: 2rem;
}

h2,
.h2 {
	font-size: 1.75rem;
}

h3,
.h3 {
	font-size: 1.5rem;
}

p,
a,
i,
button,
input,
span,
table {
	font-family: "Quicksand", sans-serif;
	font-weight: 300;
}

code {
	font-family: "Fira Code", monospace;
	font-weight: 300;
}

// # buttons & links
a {
	color: var(--link);
	cursor: pointer;

	&:active {
		color: var(--link);
	}

	&.link-chip {
		@include mixins.flexbox();
		background-color: var(--background-colour);
		border-radius: 10px;
		color: var(--text);
		padding: 10px;
		text-decoration: none;
		width: fit-content;

		&:hover {
			background-color: var(--accent);
			cursor: pointer;
		}

		&:active {
			background-color: var(--canvas);
		}
	}
}

button {
	background-color: var(--background-colour);
	border: none;
	border-radius: var(--radius);
	cursor: pointer;
}

a:has(fa-icon:only-child),
button:has(fa-icon:only-child) {
	@include mixins.flexbox($gap: 0.5em);
	@include mixins.flexbox-align(center, center);

	padding: 1em;
	aspect-ratio: 1;

	// fix for chromium not being able to squash the buttons
	overflow: hidden;
}

// # landmarks

body {
	@include mixins.flexbox(column, 0);

	height: 100dvh;
	width: 100dvw;
	overflow: hidden;

	background-color: var(--background-colour);
}

body > header {
	@include mixins.flexbox(row);
	@include mixins.flexbox-align(center, center);

	padding-block: 3em;
	padding-inline: max(10%, 1.5em);

	background-color: var(--foreground-colour);
	box-shadow: var(--box-shadow);

	img {
		width: 6.25em;
		height: 6.25em;

		border-radius: 50%;
	}
}

body > main {
	flex-grow: 1;
	margin: 1em;
	position: relative;
	overflow: hidden;

	&[fullscreen] {
		position: fixed;
		inset: 0;
		margin: 0;
	}
}

#welcome-img {
	width: 6em;
	height: 6em;
	margin-inline: auto;
}

#welcome-heading {
	text-align: center;
}
