@use "mixins";

canvas {
	width: 100%;
	height: 100%;

	background-color: var(--canvas);
	border-radius: var(--radius);

	&:has([fullscreen]) {
		border-radius: 0;
	}
}

#canvas-overlay {
	--gap: 0.25em;

	display: grid;
	grid-template-columns: min-content min-content 1fr max-content;
	grid-template-rows: min-content min-content 1fr min-content;
	column-gap: 1em;
	row-gap: var(--gap);

	inset: 0.5em;
	pointer-events: none;
	position: absolute;

	* {
		pointer-events: auto;
	}
}

#canvas-overlay .map-ui {
	height: 2.5em;
	padding-inline: 0.875em;

	border-radius: 100vw;
	box-shadow: var(--box-shadow);
}

#search-form {
	@include mixins.flexbox($gap: var(--gap));

	grid-column: 1 / 3;
	grid-row: 1;
}

#left-buttons {
	@include mixins.flexbox(column, var(--gap));

	grid-column: 1;
	grid-row: 2;
}

#way-info {
	@include mixins.flexbox(column);

	grid-column: 4;
	grid-row: 1 / 5;
	padding: 2em 1em;

	// ideally `overflow-y: auto` but grid max-content is calculated without
	// scrollbar, so it causes the sidebar to be ever-so-slightly too thin
	overflow-y: scroll;

	background-color: var(--foreground-colour);
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);

	&[hidden] {
		display: none;
	}

	#edit-in {
		@include mixins.flexbox($gap: 0.5em);
	}

	table {
		border: none;
		border-collapse: collapse;

		th {
			background-color: var(--background-colour);
		}

		th,
		td {
			padding: 0.5em 1em;
		}

		tr:nth-child(2n - 1) td {
			background-color: var(--foreground-colour);
		}

		tr:nth-child(2n) td {
			background-color: var(--midground-colour);
		}
	}
}

#messages {
	@include mixins.flexbox(column);

	grid-column: 3;
	grid-row: 1 / -1;
	overflow-y: hidden;
	pointer-events: none;

	.message-box {
		display: none;
		width: 100%;
		padding: 1em;

		background-color: var(--foreground-colour);
		border-radius: var(--radius);
		text-align: center;

		&[visible] {
			animation: fade-in 0.25s;
			display: revert;
		}

		&[closing] {
			animation: fade-out-and-shrink 0.25s;
			overflow: hidden;
		}
	}
}

#copyright {
	grid-column: 1 / -1;
	grid-row: 5;
	width: fit-content;
	margin-inline-start: auto;
	padding: 0.5em;

	background-color: var(--foreground-colour);
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);
	font-size: 0.75em;
	text-align: right;
}

#open-with-container {
	@include mixins.flexbox($gap: 0.5em);
	@include mixins.flexbox-align(center, center);
}

#copy-container {
	@include mixins.flexbox(row, 0);
	@include mixins.flexbox-align(space-between);

	background-color: var(--midground-colour);
	border-radius: var(--radius);
	height: 40px;

	span {
		padding: 0.5em;
		align-self: center;
	}
}

button.open-with {
	background-color: var(--open-with);
}

button#copy-button {
	background-color: var(--copy);
}

#empty-message {
	position: absolute;
	justify-self: center;
	align-self: center;
}
