@mixin flexbox($direction: row, $gap: 1em) {
	display: flex;
	flex-direction: $direction;
	gap: $gap;
}

@mixin flexbox-align($justify: flex-start, $align: flex-start) {
	align-items: $align;
	justify-content: $justify;
}

@mixin button-color($color) {
	background-color: var(--#{$color});

	&:hover {
		background-color: var(--#{$color}-hover);
	}

	&:active {
		background-color: var(--#{$color}-active);
	}
}

@mixin header() {
	@include flexbox(row, 2em);
	@include flexbox-align(space-between, center);

	padding-block: 2em 1.5em;
	padding-inline: 2em;

	background-color: var(--foreground-colour);

	* {
		margin: 0;
	}
}
