canvas {
  width: 100%;
  height: 100%;
  background-color: var(--canvas);
  border-radius: var(--radius);
}
canvas:has([fullscreen]) {
  border-radius: 0;
}

#canvas-overlay {
  --gap: 0.25em;
  display: grid;
  grid-template-columns: min-content min-content 1fr max-content;
  grid-template-rows: min-content min-content 1fr min-content;
  column-gap: 1em;
  row-gap: var(--gap);
  inset: 0.5em;
  pointer-events: none;
  position: absolute;
}
#canvas-overlay * {
  pointer-events: auto;
}

#canvas-overlay .map-ui {
  height: 2.5em;
  padding-inline: 0.875em;
  border-radius: 100vw;
  box-shadow: var(--box-shadow);
}
#canvas-overlay .map-uibutton {
  width: 2.5em;
}

#search-form {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  grid-column: 1/3;
  grid-row: 1;
}

#left-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  grid-column: 1;
  grid-row: 2/4;
}

#way-info {
  grid-column: 4;
  grid-row: 1/5;
  overflow-y: scroll;
  background-color: var(--background-colour);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}
#way-info[hidden] {
  display: none;
}
#way-info > main {
  padding: 1em;
}
#way-info table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}
#way-info table > :first-child .h3 {
  margin-block-start: 0;
}
#way-info table thead.section-header th {
  display: block;
  text-align: left;
}
#way-info table thead.cell-header th {
  background-color: var(--foreground-colour);
  padding: 0.5em 1em;
}
#way-info table tbody td {
  padding: 0.5em 1em;
}
#way-info table tbody td:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 1ch;
  align-items: center;
  justify-content: space-between;
}
#way-info table tr td:first-child {
  text-align: right;
}
#way-info table tr:nth-child(2n-1) td {
  background-color: var(--background-colour);
}
#way-info table tr:nth-child(2n) td {
  background-color: var(--midground-colour);
}
#way-info .inference-icon {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

#messages {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-column: 3;
  grid-row: 1/-1;
  overflow-y: hidden;
  pointer-events: none;
}
#messages .message-box {
  display: none;
  width: 100%;
  padding: 1em;
  background-color: var(--background-colour);
  border-radius: var(--radius);
  text-align: center;
}
#messages .message-box[visible] {
  animation: fade-in 0.25s;
  display: revert;
}
#messages .message-box[closing] {
  animation: fade-out-and-shrink 0.25s;
  overflow: hidden;
}

#copyright {
  grid-column: 1/-1;
  grid-row: 5;
  width: fit-content;
  margin-inline-start: auto;
  padding: 0.5em;
  background-color: var(--background-colour);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  font-size: 0.75em;
  text-align: right;
}

#open-with-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

#copy-container {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--midground-colour);
  border-radius: var(--radius);
  height: 40px;
}
#copy-container span {
  padding: 0.5em;
  align-self: center;
}

button.open-with {
  background-color: var(--open-with);
}

button#copy-button {
  background-color: var(--copy);
}

#empty-message {
  position: absolute;
  justify-self: center;
  align-self: center;
}
