#popup {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: auto;
  max-block-size: calc(100svh - 2rem);
  width: min(95vw, 80ch);
  max-height: min(80%, 1280px);
  z-index: 100;
  background-color: var(--background-colour);
  border: none;
  border-radius: var(--radius);
}
#popup:not([open]) {
  display: none;
}
#popup::backdrop {
  background-color: var(--background-colour);
  opacity: 0.8;
}

#popup > main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
  overflow: auto;
}

#popup .container {
  background-color: var(--midground-colour);
  border-radius: 5px;
}
#popup .container header {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em 1em;
  background-color: var(--foreground-colour);
  border-radius: var(--radius) var(--radius) 0 0;
}
#popup .container main {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
}
#popup .container.vertical {
  flex-direction: column;
}
